.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: $main-website-padding/5 $main-website-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(3px);

  &__name {
    display: none;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 900;
    color: $color-text-white;
    font-size: 3.2rem;

    &--special {
      color: $color-about;
    }
  }

  &__list {
    display: flex;
    gap: 2.4rem;
    transition: all 1s;

    &--item {
      color: $color-text-white;
      font-size: 1.8rem;
      font-weight: 600;
      &--about-us {
        color: $color-about;
      }

      &--services {
        color: $color-services;
      }

      &--portfolio {
        color: $color-portfolio;
      }

      &--contact {
        color: $color-contact;
      }
    }
  }
  &__hamburger {
    display: none;
    z-index: 2;
    max-width: 3.2rem;
  }
}

@media only screen and (max-width: 640px) {
  .navbar {
    &__list {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }
}

.navbar-phone {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  &--item {
    font-size: 6.4rem;
  }
}
