//animations

@keyframes draw-letter-k {
  from {
    stroke-dashoffset: 320.8900451660156;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-o {
  from {
    stroke-dashoffset: 314.75323486328125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-d {
  from {
    stroke-dashoffset: 326.4870910644531;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-z {
  from {
    stroke-dashoffset: 296.2052001953125;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-i {
  from {
    stroke-dashoffset: 154.55990600585938;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-m {
  from {
    stroke-dashoffset: 396.4693298339844;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-letter-y {
  from {
    stroke-dashoffset: 241.40936279296875;
  }

  to {
    stroke-dashoffset: 0;
  }
}
