//variables like from frameworks

.u-title{
    &--main{
        height: 100%;
        width: 100%;
        max-width: 30rem;
    }

    &--services-subtitle{
        color: $color-services;
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 100%;
    }

    &--portfolio-subtitle{
        color: $color-portfolio;
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 100%;
    }
}