//variables

$background-color: #2D2D2D;
$background-ligher: #282828;
$background-darker: #242424;

$color-about: #EFA836;
$color-services: #4B896F;
$color-portfolio: #AA79F7;
$color-contact: #9AC0E2;

$color-text-white: #fff;
$color-text-grey: #a3a3a3;

$main-website-padding: 5%;